:root{
    /* bg colors */
    --bg-primary-color: rgb(17, 17,17);
    --bg-secondary-color: rgb(34, 34, 34);
    --bg-active-color: rgb(233, 233, 233);
    --bg-danger-color: rgb(182, 38, 38);
    --bg-success-color: rgb(50, 160, 23);

    /* text colors */
    --text-primary-color: rgb(237, 237, 237);
    --text-secondary-color: rgb(200, 200, 200);
    --text-tertiary-color: rgb(150, 150, 150);
    --text-active-color: rgb(25, 25, 25);

    /* paddings */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem;

    /* margins */
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-2xl: 3rem;

    /* gutters */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl: 3rem;

    /* font sizes */
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;

    /* border radius */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;
    --border-radius-xl: 1rem;
    --border-radius-2xl: 1.5rem;
}